<html>
    <head>
        <title>My Project</title>
    </head>
    <body>
        <h1>Welcome to the App</h1>
        <h2>My Details</h2>
        <ul>
            <li><i><strong>Name:</strong>Ankam Mounika</i></li>
            <li><i><strong>Email:</strong> mounika@gmail.com</i></li>
            <li><i><strong>Skills:</strong> HTML, CSS, JavaScript, React, Python, Django</i></li>
            <li><i><strong>Hobbies:</strong> Sketching, Learning New Tech</i></li>
        </ul>
    </body>
</html>

